doctype html
html(lang="en")
	head
		title UMCC

	body
		h1 University of Manitoba Climbing Club


		.form-group
			button(type="button" href="#") Schedule
			button(type="button") Routes
			button(type="button") Events
