doctype html
html(ng-app="umcc")
    head
        title= UMCC
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

        script(type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
        script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

        script(type="text/javascript" src="javascripts/app.js")

    body
        block content
